/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #FFD491;
  margin: 0;
  padding: 0;
}


header {
  background-color: #975012;
  padding: 20px;
  color: #f5f5f5;
  display: flex;
  align-items: center;
}

header a{
  margin: 0;
  font-size: 20px;
  flex: 1;
  color: #f5f5f5;
}

nav {
  color: #f5f5f5;
  background-color: #975012;
  padding: 10px;
  flex: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

#carrito {
  margin-left: auto;
}

#carrito img {
  width: 50px;
  height: auto;
}

/* Estilos del contenido principal */
main {
  padding: 20px;
  margin-bottom:20px;
  display: grid;
  grid-template-areas: "categorias contenido-principal";
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;

}

#categorias {
  background-color: #3B1F04;
  color: #f5f5f5;
  font-color:
  margin-right: 20px;
  border-radius:10px;
  padding:12px;
  grid-area: categorias;

}
#categorias a{
    color:#f5f5f5;
}



#contenido-principal {
  margin-right: 20px;
  grid-area: contenido-principal;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:10px;
  text-align: center;
  border-radius: 10px;
}

#cuadrofoto {
  background-size: cover;
  background-position: center
  width: 100%;
  height: 200px;
  border-radius:10px;
}

.grid-item {
  border-radius:10px;
  margin-left:5px;
  transition: background-color 0.8s, border-radius 0.8s;
  padding:10px;
}


.grid-item:hover {
  background-color: #3B1F04;
  color: #f5f5f5;
  text-decoration: none;
  border-radius: 10px;
}



.producto h4 {
  margin-top: 10px;
  margin-bottom: 10px; /* Agrega un margen inferior de 10px */
}


a {
  text-decoration: none;
  color: #333;
}


footer {
  background-color: #975012;
  color: #f5f5f5;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
}
