<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Detalle del producto</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <script>
        function confirmAddToCart() {
            var quantity = prompt("Ingrese la cantidad:");
            if (quantity != null) {
                var confirmed = confirm("¿Estás seguro de añadir " + quantity + " producto(s) al carrito?");
                if (confirmed) {
                    document.getElementById("quantity-input").value = quantity;
                    document.getElementById("add-to-cart-form").submit();
                }
            }
        }

        function showDetails() {
            var disp = "{{ producto.disponible }}";
            var fechCreacion = "{{ producto.fecha_creacion }}";

            var popup = "Disponibilidad: " + disp + "\nFecha de creacion: " + fechCreacion;
            alert(popup);
}
    </script>
</head>

<body>

{% if user.is_authenticated %}

    <h2>{{ producto.nombre }}</h2>
    <p>{{ producto.descripcion }}</p>
    <p>Precio: {{ producto.precio }}</p>
    <p>Categoría: {{ producto.categoria }}</p>
    <img src="{{ producto.imagen }}" alt="Imagen del producto" onclick="showDetails()">


    <form id="add-to-cart-form" method="POST" action="{% url 'añadir_carrito' producto.id %}">
        {% csrf_token %}
        <input type="hidden" name="quantity" id="quantity-input">
        <button type="button" onclick="confirmAddToCart()">Añadir al carrito</button>
    </form>
    <a href="{% url 'ver_carrito' %}" class="btn btn-primary">Ir al carrito de compra</a>
{% endif %}
</body>
</html>