<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
</head>
<body>

<header>
  <a href="{% url 'home' %}"><h1>Cafeteria Online</h1></a>
  <nav>
    {% if user.is_authenticated %}
    <p>Bienvenido, {{ user.username }}</p>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
    {% else %}
    <p>Bienvenido, regístrese o acceda para ver nuestros distintos cafés</p>
    <a href="{% url 'login' %}">Acceder</a>
    <a href="{% url 'registro' %}">Registrarse</a>
    {% endif %}
  </nav>
  <div id="carrito">
    <a href="{% url 'ver_carrito' %}">
      <img src="/media/productos/carrito.png" alt="Carrito de compra">
    </a>
  </div>
</header>

<main>
  <div id="categorias">
    <h3>Tipos de café</h3>
    <form method="GET" action="{% url 'buscar' %}">
      <input type="text" name="q" placeholder="Buscar...">
      <button type="submit">Buscar</button>
    </form>
    <ul>
      {% for categoria in categorias %}
      <li><a href="{% url 'productos_por_categoria' categoria.categoria %}">{{ categoria.categoria }}</a></li>
      {% endfor %}
    </ul>
  </div>



  <div class="grid-container" id="contenido-principal">
    {% for producto in productos %}
    <a href="{% url 'detail' producto.id %}">
      <div class="grid-item">
        <h4>{{ producto.nombre }}</h4>
        <div id="cuadrofoto" style="background-image: url({{ producto.imagen }})"></div>
      </div>
    </a>
    {% endfor %}
  </div>

</main>
<footer>
			<p>Hecho por Alexander Van Den Heuvel Cabeza</p>
</footer>
</body>


</html>